'menu': [
  'label': 'Packages'
  'submenu': [
    'label': 'Markdown Preview Plus'
    'submenu': [
      {
        'label': 'Toggle Preview'
        'command': 'markdown-preview-plus:toggle'
      }, {
        'label': 'Open Package Configuration'
        'command': 'markdown-preview-plus:open-configuration'
      }, {
        'label': 'Toggle LaTeX Rendering'
        'command': 'markdown-preview-plus:toggle-render-latex'
      }, {
        'label': 'Select preview syntax theme'
        'command': 'markdown-preview-plus:select-syntax-theme'
      }, {
        'label': 'Edit LaTeX Macros'
        'command': 'markdown-preview-plus:edit-macros'
      }
    ]
  ]
]

'context-menu':
  '.markdown-preview-plus': [
    {label: 'Sync Source', command: 'markdown-preview-plus:sync-source'}
    {label: 'Search Selection in Source', command: 'markdown-preview-plus:search-selection-in-source'}
    {label: 'Find in Preview...', command: 'markdown-preview-plus:find-in-preview'}
    {label: 'Find Next', command: 'markdown-preview-plus:find-next'}
    {label: 'Copy As HTML', command: 'core:copy'}
    {label: 'Save As\u2026', command: 'core:save-as'}
    {label: 'Print\u2026', command: 'markdown-preview-plus:print'}
    {label: 'Open in new window', command: 'markdown-preview-plus:new-window'}
    {label: 'Open Dev Tools', command: 'markdown-preview-plus:open-dev-tools'}
    {label: 'Toggle math rendering', command: 'markdown-preview-plus:toggle-render-latex'}
    {label: 'Change syntax theme...', command: 'markdown-preview-plus:select-syntax-theme'}
  ]
