'atom-text-editor, markdown-preview-plus-view':
  'ctrl-M': 'markdown-preview-plus:toggle'
  'ctrl-X': 'markdown-preview-plus:toggle-render-latex'

'.platform-darwin markdown-preview-plus-view':
  'cmd-+': 'markdown-preview-plus:zoom-in'
  'cmd-=': 'markdown-preview-plus:zoom-in'
  'cmd--': 'markdown-preview-plus:zoom-out'
  'cmd-_': 'markdown-preview-plus:zoom-out'
  'cmd-0': 'markdown-preview-plus:reset-zoom'

'.platform-win32 markdown-preview-plus-view, .platform-linux markdown-preview-plus-view':
  'ctrl-+': 'markdown-preview-plus:zoom-in'
  'ctrl-=': 'markdown-preview-plus:zoom-in'
  'ctrl--': 'markdown-preview-plus:zoom-out'
  'ctrl-_': 'markdown-preview-plus:zoom-out'
  'ctrl-0': 'markdown-preview-plus:reset-zoom'
