'atom-workspace, atom-workspace atom-text-editor':
  'ctrl-M': 'markdown-preview-plus:toggle'
  'ctrl-X': 'markdown-preview-plus:toggle-render-latex'

'.platform-darwin .markdown-preview-plus':
  'cmd-+': 'markdown-preview-plus:zoom-in'
  'cmd-=': 'markdown-preview-plus:zoom-in'
  'cmd--': 'markdown-preview-plus:zoom-out'
  'cmd-_': 'markdown-preview-plus:zoom-out'
  'cmd-0': 'markdown-preview-plus:reset-zoom'

'.platform-win32 .markdown-preview-plus, .platform-linux .markdown-preview-plus':
  'ctrl-+': 'markdown-preview-plus:zoom-in'
  'ctrl-=': 'markdown-preview-plus:zoom-in'
  'ctrl--': 'markdown-preview-plus:zoom-out'
  'ctrl-_': 'markdown-preview-plus:zoom-out'
  'ctrl-0': 'markdown-preview-plus:reset-zoom'
