markdown-preview-plus-view {
  .flash {
    -webkit-animation: flash 1s ease-out;
    -webkit-animation-iteration-count: 1;
    outline: 1px solid rgba(255, 0, 0, 0);
  }

  @-webkit-keyframes flash {
    0% {
      outline-color: rgba(255, 0, 0, 0);
    }
    50% {
      outline-color: rgba(255, 0, 0, 1);
    }
    100% {
      outline-color: rgba(255, 0, 0, 0);
    }
  }

  atom-text-editor {
    display: flex;
    flex-direction: column;
    overflow: auto;
    .line {
      display: block;
    }
  }

  @media print {
    atom-text-editor {
      overflow: visible !important;
      .line {
        white-space: pre-wrap !important;
      }
    }
  }
}
